@import url("https://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

body {
  background: lime;
  /* background-image: radial-gradient(#00FFFF, #008080, #0000FF); */
  -webkit-animation: colorchange 60s infinite;
  animation: colorchange 60s infinite;
  overflow: hidden;
  overflow-y: scroll;
}

@-webkit-keyframes colorchange {

 0%  {background: #21618c;}
25%  {background: #2e86c1;}
50%  {background: #5dade2;}
75%  {background: #2e86c1;}
100% {background: #21618c;}
}

/* body {
-webkit-animation: colorchange 60s infinite;
animation: colorchange 60s infinite;
}

@-webkit-keyframes colorchange {

     0%  {background: #00FFFF;}
    25%  {background: #008080;}
    50%  {background: #0000FF;}
    75%  {background: #000080;}
    100% {background: #800080;} */

.navbar {
  background: lime;
  background-image: linear-gradient(-90deg, #00FF00, #008000);
  margin-bottom: 20px;
}

.navbar img {
  height: 40px;
  width: 50px;
}

.search-bar {
  border-radius: 1px;
  background: transparent;
}

.search-bar .form-control {
  border-radius: 2px;
  width: 80%
}
.search-bar .btn {
  border-radius: 2px;
  border-color: #d3d3d3;
  background: #f8f8f8;
  /* width: 10%; */
  margin-left: -1px;
}

.search-bar .btn:hover {
  border-color: #c6c6c6;
  background: #f0f0f0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.10);
}

.video-player {
  margin-left: 20px;
  padding-top: 20px;
}

.video-player-details {
  background: red;
  background-image: radial-gradient(#B22222, #FF0000, #8B0000);
  padding: 8px;
  border: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  margin-top: 10px;
  color: white;
}

.video-list {
  background: red;
  background-image: radial-gradient(#B22222, #FF0000, #8B0000);
  padding: 8px;
  border: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  /* margin-right: 20px; */
  padding-top: 20px;
}

.video-list-entry {
  font-size: 16px;
  padding: 8px;
}

.video-list-entry-title {
  font-weight: bold;
  color: white;
}

.video-list-entry-title:hover {
  color: #e62117;
  cursor: pointer;
}

.video-list-entry-detail {
  font-size: 15px;
  color: #999;
}

.video-list-entry-detail:hover {
  color: #e62117;
  cursor: pointer;
}

.loading {
  padding-left: 20px;
}

.media-body {
  padding-left: 20px;
}

.media-object {

}

.media.object:hover {
  cursor: pointer;
}

h5 {
  border: 2px solid red;
  text-align: center;
  padding: 10px;
}

@media (max-width: 767px) {
  .video-list {
    margin-left: 20px;
  }

  .video-player {
    margin-right: 20px;
  }
}
